[submodule "DEEP-OC-dogs_breed_det"]
	path = DEEP-OC-dogs_breed_det
	url = https://github.com/deephdc/DEEP-OC-dogs_breed_det
[submodule "DEEP-OC-mods"]
	path = DEEP-OC-mods
	url = https://github.com/deephdc/DEEP-OC-mods
[submodule "DEEP-OC-retinopathy_test"]
	path = DEEP-OC-retinopathy_test
	url = https://github.com/deephdc/DEEP-OC-retinopathy_test
[submodule "DEEP-OC-image-classification-tf"]
	path = DEEP-OC-image-classification-tf
	url = https://github.com/deephdc/DEEP-OC-image-classification-tf
[submodule "DEEP-OC-plants-classification-tf"]
	path = DEEP-OC-plants-classification-tf
	url = https://github.com/deephdc/DEEP-OC-plants-classification-tf
[submodule "DEEP-OC-conus-classification-tf"]
	path = DEEP-OC-conus-classification-tf
	url = https://github.com/deephdc/DEEP-OC-conus-classification-tf
[submodule "DEEP-OC-phytoplankton-classification-tf"]
	path = DEEP-OC-phytoplankton-classification-tf
	url = https://github.com/deephdc/DEEP-OC-phytoplankton-classification-tf
[submodule "DEEP-OC-seeds-classification-tf"]
	path = DEEP-OC-seeds-classification-tf
	url = https://github.com/deephdc/DEEP-OC-seeds-classification-tf
[submodule "DEEP-OC-satsr"]
    	path = DEEP-OC-satsr
    	url = https://github.com/deephdc/DEEP-OC-satsr
[submodule "DEEP-OC-speech-to-text-tf"]
	path = DEEP-OC-speech-to-text-tf
	url = https://github.com/deephdc/DEEP-OC-speech-to-text-tf
[submodule "DEEP-OC-posenet-tf"]
	path = DEEP-OC-posenet-tf
	url = https://github.com/deephdc/DEEP-OC-posenet-tf
[submodule "DEEP-OC-audio-classification-tf"]
	path = DEEP-OC-audio-classification-tf
	url = https://github.com/deephdc/DEEP-OC-audio-classification-tf
[submodule "DEEP-OC-semseg_vaihingen"]
	path = DEEP-OC-semseg_vaihingen
	url = https://github.com/deephdc/DEEP-OC-semseg_vaihingen
[submodule "DEEP-OC-generic-dev"]
	path = DEEP-OC-generic-dev
	url = https://github.com/deephdc/DEEP-OC-generic-dev
[submodule "DEEP-OC-benchmarks_cnn"]
	path = DEEP-OC-benchmarks_cnn
	url = https://github.com/deephdc/DEEP-OC-benchmarks_cnn
[submodule "DEEP-OC-obj_detect_pytorch"]
	path = DEEP-OC-obj_detect_pytorch
	url = https://github.com/deephdc/DEEP-OC-obj_detect_pytorch
[submodule "DEEP-OC-birds-audio-classification-tf"]
	path = DEEP-OC-birds-audio-classification-tf
	url = https://github.com/deephdc/DEEP-OC-birds-audio-classification-tf
[submodule "DEEP-OC-neural_transfer"]
	path = DEEP-OC-neural_transfer
	url = https://github.com/deephdc/DEEP-OC-neural_transfer
[submodule "DEEP-OC-image-classification-tf-dicom"]
	path = DEEP-OC-image-classification-tf-dicom
	url = https://github.com/deephdc/DEEP-OC-image-classification-tf-dicom
